<div class="container" ng-init="init();">
<br/>
    <h1>Todo Lists</h1>
<br/>
    <accordion>
        <div ui-sortable="sortableOptions" ng-model="lists" class="grabbable">
            <accordion-group ng-repeat="list in lists" >
                <accordion-heading>
                    <a class="todo-title" editable-text="list.title" onaftersave="update(list);" e-form="editTitle">{{list.title || "empty"}}</a>
                    <span ng-click="$event.stopPropagation();" style="margin-right:2px;margin-top:8px;" class="label label-success pull-left">{{list.total_tasks|| 0}}</span>
                    <span ng-click="$event.stopPropagation();" style="margin-top:8px;" class="label label-danger pull-left">{{list.total_tasks || 0}}</span>
                    <a style="margin:9px 20px 0 10px;" href="" ng-click="editTitle.$show();$event.stopPropagation();" ng-hide="editTitle.$visible;$event.stopPropagation();" class="label label-warning pull-left">EDIT</a>
                   <h5 class="pull-right" ng-click="$event.stopPropagation();"><span class="label label-info">{{list.updated_at | date: "MM/dd/yy - hh:mm a"}}</span></h5>
                </accordion-heading>

                <span style="float:right" confirm-delete on-confirm="delete(list)"></span>


                <!-- Tasks Start -->

                <div class="container">

                    <ul ui-sortable>
                        <li ng-repeat="task in list.tasks | filter:{completed:'!true'}">
                        <input type="checkbox" ng-click="markDone(task, list);"/>

                        <a class="task" href="#" editable-text="task.title">{{task.title || "empty" }}</a>

                        <a href="" ng-click="deleteTask(task, list);">X</a>
                        </li>
                    </ul>

                    <form ng-submit="addTask(list.newTask, list)">
                        <input type="text" ng-model="list.newTask" />
                        <button type="submit">Add</button>
                    </form>

                    <div>

                        <ul>
                            <li style="text-decoration:line-through;" ng-repeat="task in list.tasks | filter:{completed:'true'}">
                            <input type="checkbox" checked ng-click="markUndone(task, list);"/>
                            {{task.title}}
                            <a href="" ng-click="deleteTask(task, list);">X</a>

                            </li>
                        </ul>

                    </div>

                </div>

                <!-- Tasks End -->

                {{list | json}}
            </accordion-group>
        </div>
    </accordion>


    <!-- Add new list start -->
    <div>
        <br/>
        <form ng-submit="addList(newList)" role="form">
            <div class="input-group">
                <input type="text" class="form-control big" ng-model="newList">
                <button class="btn btn-primary btn-lg">ADD</button>
            </div>
        </form>
    </div>
    <!-- Add new list end -->


</div>
