<div class="container" ng-init="init();">
<br/>
    <h1>Todo Lists</h1>
<br/><br/>
    <accordion>
        <div ui-sortable="sortableListOptions" ng-model="lists" class="grabbable">
            <accordion-group ng-repeat="list in lists" >
                <accordion-heading>
                    <a class="todo-title" editable-text="list.title" onaftersave="update(list);" e-form="editTitle">{{list.title || "empty"}}</a>
                    <span ng-click="$event.stopPropagation();" style="margin-right:2px;margin-top:8px;" class="label label-success pull-left">{{list.total_tasks|| 0}}</span>
                    <span ng-click="$event.stopPropagation();" style="margin-top:8px;" class="label label-danger pull-left">{{list.total_tasks || 0}}</span>
                    <a style="margin:9px 20px 0 10px;" href="" ng-click="editTitle.$show();$event.stopPropagation();" ng-hide="editTitle.$visible;$event.stopPropagation();" class="label label-warning pull-left">EDIT</a>
                    <span class="pull-right"confirm-delete on-confirm="delete(list)" ng-click="$event.stopPropagation();"></span>
                </accordion-heading>


                    &nbsp;<div class="label label-info pull-right">{{list.updated_at | date: "MM/dd/yy - hh:mm a"}}</div>

                <!-- Incomplete Tasks Start -->
                    <div class="list-group" ui-sortable="sortableTaskOptions" ng-model="list.tasks" class="grabbable">
                        <div class="list-group-item task" ng-repeat="task in list.tasks | filter:{completed:'!true'}" ng-class="{'task-complete': task.complete}">
                            <span class="close" ng-click="deleteTask(task, list);">&times;</span>
                            <label>
                                <input type="checkbox" ng-click="markDone(task, list);" ng-model="task.complete">
                                <span> <a class="task" href="#" editable-text="task.title" onaftersave="update(list);">{{task.title || "empty" }}</a></span>
                            </label>
                        </div>
                        <div class="list-group-item">
                            <form ng-submit="addTask(list.newTask, list)">
                                <input type="text" ng-model="list.newTask" />
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                    <!-- Incomplete Tasks End -->



                    <!-- Completed Tasks Start -->
                    <div class="list-group">
                        <div class="list-group-item task-complete" ng-repeat="task in list.tasks | filter:{completed:'true'}">
                            <span class="close" ng-click="deleteTask(task, list);">&times;</span>
                            <label>
                                <input type="checkbox" checked ng-click="markUndone(task, list);">
                                <span>{{task.title || "empty" }}</span>
                            </label>
                        </div>
                    </div>
                    <!-- Completed Tasks End -->

            </accordion-group>
        </div>
    </accordion>


    <!-- Add new list start -->
    <div>
        <br/>
        <form ng-submit="addList(newList)" role="form">
            <div class="input-group">
                <input type="text" class="form-control big" ng-model="newList">
                <button class="btn btn-primary btn-lg">ADD</button>
            </div>
        </form>
    </div>
    <!-- Add new list end -->


</div>
