<div class="container" ng-init="init();">
<br/>
    <h1>Todo Lists</h1>
<br/>
    <accordion>
        <div ui-sortable="sortableOptions" ng-model="lists" class="grabbable">
            <accordion-group ng-repeat="list in lists" >
                <accordion-heading>
                    <a class="todo-title" editable-text="list.title" onaftersave="update(list);" e-form="editTitle">{{list.title || "empty"}}</a>
                    <span ng-click="$event.stopPropagation();" style="margin-right:2px;margin-top:8px;" class="label label-success pull-left">{{list.total_tasks|| 0}}</span>
                    <span ng-click="$event.stopPropagation();" style="margin-top:8px;" class="label label-danger pull-left">{{list.total_tasks || 0}}</span>
                    <a style="margin:9px 20px 0 10px;" href="" ng-click="editTitle.$show();$event.stopPropagation();" ng-hide="editTitle.$visible;$event.stopPropagation();" class="label label-warning pull-left">EDIT</a>
                   <h5 class="pull-right" ng-click="$event.stopPropagation();"><span class="label label-info">{{list.updated_at | date: "MM/dd/yy - hh:mm a"}}</span></h5>
                </accordion-heading>

                <span style="float:right" confirm-delete on-confirm="delete(list)"></span>

            {{list | json}}
            </accordion-group>
        </div>
    </accordion>


    <!--
        <div id="list-container" class="panel-group" ng-repeat="list in lists" ui:sortable="sortableOptions" ng:model="lists">

        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="todo-title" href="#/lists/{{list._id}}" editable-text="list.title" e-form="textBtnForm">{{list.title || "empty"}}</a>
                <div class="pull-right" confirm-delete on-confirm="delete(list)"></div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <span class="label label-success">{{list.total_tasks}}</span>
                    <span class="label label-success">{{list.total_tasks}}</span>
                </div>
            </div>

        </div>

    </div>
    -->



    <div>
        <br/>
        <form ng-submit="addList(newList)" role="form">
            <div class="input-group">
                <input type="text" class="form-control big" ng-model="newList">
                <button class="btn btn-primary btn-lg">ADD</button>
            </div>


        </form>
    </div>



</div>


<!--
          <span class="label label-warning">6</span>
          -->
<!--
          <a href="" class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></a>
          -->
<!--
      <button type="button"  style="padding-top:8px;" ng-click="delete(list)">×</button>

      -->