

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.list-placeholder-highlight{
    border: 3px dashed #999;
    height:75px;
}

.task-placeholder-highlight{
    border: 2px dashed #999;
    height:40px;
}




.deleteConfirmation{
    width: 250px;
}

#list-container  {
    padding:0;
    margin-left:0;
    width:75%;

}

#list-container ul {
    list-style: none;
    margin:0;
    padding:0;
}


.todo-title{
    font-size: 1.6em;
    color:#666;
}

#list-container input.big {
    font-size: 30px;
    font-weight: bold;
    width: 650px;
    height: 44px;
    padding: 5px;
    color:#666;
}

.task{
    font-size: 25px;
}

/*

*/

#playground{
    margin-top: 75px;
}

.debug{
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.todo-filter {
    margin-bottom: 25px;
}

.todo-filter>li>a{
    padding: 8px 12px;
    font-size: 12px;
}

#todoAdd {
    margin-left: 40px;
}

.todoField{
    padding-left: 5px;
    font-size: 20px;
}

#newTodoField{
    margin: 20px;
    width: 75%;
}

#todoSubmit{
    margin-top: -5px;
}

.todoTask{
    margin-bottom: 20px;
}



.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}